@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    }

header {
    margin: 0;
     }


.jumbotron {
    height: 100vh;
    background: url('../images/laundrettelegs.jpg') no-repeat bottom right fixed;
   
            -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
            display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  
  
  
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer p {
  margin-bottom: .25rem;
}

.container-text {
    
  
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid rgba(0,0,0, 0.8);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

    
}

.page-footer {
color: white;
}



.signup-form {
  
  
 
  padding: 50px;
  right: 40%
  
}


.text-input {
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: #435ac4;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #76abfc;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: #6ba1f1;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  width: 100%;
}

/*.collapse {
    background-color: #5dbcd2;
}*/


.navbar-color-dark {
  background-color:  rgba(0,0,0, 0.8) !important; 
  background-image: none;
  background-repeat: no-repeat;
 }

 .navbar-color-blue {
      background-color:  #41a3ca !important; 
  background-image: none;
  background-repeat: no-repeat;

 }

 