/* CSS FILE INFORMATION*/

/* Google Fonts Link*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic body settings*/
body {
    font-family: 'Roboto', sans-serif;
    }

/* Basic header settings*/
header {
    margin: 0;
     }

/* jumbotron settings*/
.jumbotron {
    height: 100vh;
    background: url('../images/laundrettelegs.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
    
}

.jumbotron .container {
  max-width: 40rem;
  
}


/* Container settings*/

.container .container-text {
height: 20px;
  
}

@media (max-width: 767px) {
  .containersize{
    height: 350px;
  }

 
 
}


.container-text {
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid rgba(0,0,0, 0.8);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;  
  overflow: auto;  
}


/* Basic footer settings*/
footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer p {
  margin-bottom: .25rem;
}



.text-input {
  background-color: transparent;
  color: white;
  width: 100%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid rgba(0,0,0, 0.8);
  border-radius: 2px;
}

.text-input:hover {
  border-color:  #41a3ca;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #41a3ca;
  color: white;
  display: block;
}

.join-button:hover {
  background-color: #6ba1f1;
  color: #white;
}

input[type=text]:focus {
  background-color: rgba(0,0,0, 0.9);
}

input[type=email]:focus {
  background-color: rgba(0,0,0, 0.9);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input {
  width: 100%;
}

/*  Top Navigation Bar settings*/

.navbar-color-dark {
  background-color:  rgba(0,0,0, 0.8) !important; 
  background-image: none;
  background-repeat: no-repeat;
 }


/*  Second Navigation Bar settings*/

 .navbar-color-blue {
      background-color:  #41a3ca !important; 
  background-image: none;
  background-repeat: no-repeat;

 }

 a {
     color: white;
 }

 @media (min-width: 768px) {

     
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

/*  Carousel Arrows */
.fa-chevron-circle-right,  .fa-chevron-circle-left, h2 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}



@media screen and (max-width: 656px) { 

 .mainlogo img { display: none; }  

}

@media screen and (max-height: 453px) { 

 .mainlogo img { display: none; }  

}